
<footer class="footer bg-light py-3 mt-auto text-light fixed">
	<span class="container  text-muted"> Created by Mohammed Z. Saeid </span>
	<a href="/" class="btn btn-info"> ABOUT THIS PROJECT</a>
</footer>

</body>
</html>