<%- include('partials/header') %>
<div class="container">
<div class="card text-center">
  <div class="card-header bg-dark text-light">
    <b>#BLACKLIVESMATTER</b> <a href="https://support.eji.org/give/153413/#!/donation/checkout ">Support the Equal Justice Initiative</a>
  </div>
  <div class="card-body">
    <h5 class="card-title ">Welcome to thoughts_wall</h5>
    <p class="card-text typewriter">share your thoughts with people easily</p>
    <a href="/new" class="btn btn-primary">Share new thought</a>
  </div>
</div>
<br>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title ">view via Tags</h5>
        <p class="card-text ">you can view tags category </p>
        <a href="#" class="btn btn-primary">Tags</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">About this project</h5>
        <p class="card-text">this open-source project, under MIT license, check out github repo</p>
        <a href="#" class="btn btn-primary">github</a>
      </div>
    </div>
  </div>
</div>
</div>

<%- include('partials/footer') %>
